mixin addToReadingList()
  script.
    //- onclick for adding book to reading-List
    function addToReadingList(bookId){
      let xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/api/books/reading-lists/testUser/books", false);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("bookId=" + bookId);
      alert("done, status: " + xhttp.status);
    }

mixin removeFromReadingList()
  script.
    //- onclick for removing a book from readingList
    function removeFromReadingList(bookId){
      let xhttp = new XMLHttpRequest();
      apiAddress = "/api/books/reading-lists/testUser/books/" + bookId;
      //- alert(apiAddress);
      xhttp.open("DELETE", apiAddress, false);
      xhttp.send();
      alert("done, status: " + xhttp.status + xhttp.responseText);

      //- reload the page - later do this with Angular?
      window.location.reload(true);
    }

mixin clearReadingList()
  script.
    //- onclick for clearing the user's readingList
    function clearReadingList(userId){
      userId = "testUser"
      let xhttp = new XMLHttpRequest();
      apiAddress = "/api/books/reading-lists/" + userId;
      alert(apiAddress);
      xhttp.open("DELETE", apiAddress, false);
      xhttp.send();
      alert("done, status: " + xhttp.status + xhttp.responseText);

      //- reload the page - later do this with Angular?
      window.location.reload(true);
    }

mixin addConfirmationModal(id, title, msg, action)
  .modal.fade(id= id, tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title= title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p= msg
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
          button.btn.btn-danger(type='button', onclick=action)= title