extends ePortfolioLayout

block content
  .row
    .book-details.col-12.col-xl-8
      h2 Where do I see myself going?
      p.
        I want to program complex systems in a team environment.  I strive to be constanltly challenged so that I'm always learning.  I'm more interested in the complexities of how something works than how it looks.
      h2 Where do I see myself going?
      ul
        li To be constantly learning
        li To be challenged and pushed to succeed
        li To be a leader once I've developed the appropriate skills
        li To be proud of my work
      p Please see my Resume
    .side-bar-text.col-12.col-xl-4.pt-5
      img(src="/images/ePortfolio/profilepic.jpg", alt='Profile picture of me', style='width:20em;height:20em;margin:auto')
  .row
    .col-12.col-xl-8
      img(src="/images/ePortfolio/sailing.jpg", alt='Profile picture of me', style='width:20em;height:20em;margin:auto')
    .col-12.col-xl-4.pt-5
      h2 Hobbies
      p I enjoy sailing, swimming, reading and boardgames in my spare time.
