extends ePortfolioLayout

block content
  h2 Contact Information
  p Please feel free to contact me on my LinkedIn profile:
  //- TODO: Re- Implement the Linked In Script in Pug
  //- <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="andrew-rozendal-71a2b9127">
  //-   <a class="LI-simple-link" href='https://ca.linkedin.com/in/andrew-rozendal-71a2b9127?trk=profile-badge'>Andrew Rozendal</a>
  //- </div>
  //- <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

