extends ePortfolioLayout

block content
  h2 Examples
  p Larger projects and capstone will go here
  p Link to project requirements
  h2 Purpose of Example
  p Explaination
  p code snippet
  h2 Reflection
  p What I'd do differently, what I enjoyed
