extends ePortfolioLayout

block content
  h2 Resume
  h3 Highlights
  ul
    li Future Diploma in Information and Computer Systems Technology (2018)				
    li BA in Greek and Roman Studies (2013)
    li Strong analytical skills
    li Strong work ethic and attention to detail
  h3 Please take a look at my Resume
    a(href="documents/AndrewRozendalResume.pdf", title="My resume")