extends ePortfolioLayout

block content
  .row
    .book-details.col-12.col-xl-8
      h2 Welcome to my E-Portfolio!
      p My name is Andrew Rozendal and I'm currently studying computer programming at Camosun College. I'm excited by the future programming challenges that I will face during my career! I look forward to learning elegant solutions to complex problems and working as a member of a team to overcome new obstacles. Hopefully you'll find that I will make a valuable addition to your team.
      p Thank you for taking the time to stop by.
      p Please feel free to contact me if you have any questions.
    .side-bar-text.col-12.col-xl-4.pt-5
      img(src="/images/ePortfolio/profilepic.jpg", alt='Profile picture of me', style='width:20em;height:20em;margin:auto')