extends ../layout
include ../includes/bookCard

block content
  h1.text-center.py-3= title
  .row.justify-content-center
    if errorMsg
      .alert.alert-danger= errorMsg
    .book-details.col-12.col-xl-8
      - const buttons = [{tag: 'Add To My Reading List', clickval: `addToReadingList('${book._id}')`}]
      +writeBookCard(book, buttons)
  .side-bar-text.col-12.col-xl-4.pt-5
    p= sideContent
  
  script.
    //- onclick for adding book to reading-List
    function addToReadingList(bookId){
      let xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/api/books/reading-lists/testUser/books", false);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("bookId=" + bookId);
      alert("done, status: " + xhttp.status);
    }