extends ../layout
include ../includes/bookCard

block content
  h1.text-center.py-3= title
  .row
    .book-details.col-12.col-xl-8
      .container.book-list
        if errorMsg
          .alert.alert-danger= errorMsg
        each book in books
          - const buttons = [{url: '/book', tag: 'More Details'}, {url: '#', tag: 'Remove From My Reading List'}]
          +writeBookCard(book, buttons)
    .side-bar-text.col-12.col-xl-4.pt-5
      p= sideContent