extends ../layout
include ../includes/bookCard

block content
  h1.text-center.py-3= pageHeader.title
  .row
    .book-details.col-12.col-xl-8
      h2= pageHeader.tagline
      .container.col-12.col-md-4
        .card
          .card-body
            h3.card-title.pb-3 New Book Form
            form(name='addBook', action='#', method='post')
              each column in BookColumns
                .form-group.row
                  - const type = column.type
                  - const fieldName = column.columnName
                  label.col-form-label.col-xl-4(for= fieldName) #{column.displayName}
                  .col-xl-6
                    input.px-1.form-control(id= fieldName, type= type, name= fieldName, required='', placeholder='New data here')
              //- .form-group.row
              //-   label.col-form-label.col-xl-4
              //-   .col-xl-6
              //-     button.btn.btn-primary(onclick="preview()") Preview New Book
              .form-group.row
                label.col-form-label.col-xl-4
                .col-xl-6
                  button.btn.btn-primary(type='submit') Add New Book to Library
            button.btn.btn-primary(onclick="preview()") Preview New Book
    .side-bar-text#side-bar-text.col-12.col-xl-4.pt-5
      p= sideContent
      .container#preview

  script.
    function preview(){
      let target = document.getElementById('preview');
      let inputs = document.forms['addBook'].getElementsByTagName('input');
      target.innerHTML = "Preview:";

      //temp
      for(let input in inputs){
        alert(input);
        target.innerHTML += input.id + ': ' + input.value;
      }

      //- // this needs to match books.js book array layout (key value pairs)     
      //- book = array();
      //- foreach input in inputs{
      //-   book.push(input:name)
      //- }
      //- target.innerHTML += bookCard()
    }

    // see http://jsfiddle.net/mEefW/ for example
    //-       var inputBox = document.getElementById('chatinput');

    //- inputBox.onkeyup = function(){
    //-     document.getElementById('printchatbox').innerHTML = inputBox.value;
    //- }
