extends ../layout
include ../includes/bookCard
include ../includes/adminhelpers

block content
  h1.text-center.py-3= pageHeader.title
  .row
    .book-details.col-12.col-xl-8
      h2= pageHeader.tagline
      .container.book-list
        each book in books
          - const buttons = [{tag: 'Remove this Book From the Library', type: 'danger', clickval: `removeBookFromLibrary('${book._id}')`}]
          +writeBookCard(book, buttons)
    .side-bar-text.col-12.col-xl-4.pt-5
      p= sideContent
  +removeBookFromLibrary()