extends ../layout
include ../includes/bookCard
include ../includes/helpers

block content
  h1.text-center.py-3= title
  .row.justify-content-center
    if errorMsg
      .alert.alert-danger= errorMsg
    .book-details.col-12.col-xl-8
      - const buttons = [{tag: 'Add To My Reading List', clickval: `addToReadingList('${book._id}')`}]
      +writeBookCard(book, buttons)
  .side-bar-text.col-12.col-xl-4.pt-5
    p= sideContent
  
  +addToReadingList